# title of project
Introduction thing

## Data Description

## Exploratory Data Analysis

### Import Libraries

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

Something load dataset

In [2]:
netflix_df = pd.read_csv("./netflix_titles.csv")
netflix_df.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,81145628,Movie,Norm of the North: King Sized Adventure,"Richard Finn, Tim Maltby","Alan Marriott, Andrew Toth, Brian Dobson, Cole...","United States, India, South Korea, China","September 9, 2019",2019,TV-PG,90 min,"Children & Family Movies, Comedies",Before planning an awesome wedding for his gra...
1,80117401,Movie,Jandino: Whatever it Takes,NaN,Jandino Asporaat,United Kingdom,"September 9, 2016",2016,TV-MA,94 min,Stand-Up Comedy,Jandino Asporaat riffs on the challenges of ra...
2,70234439,TV Show,Transformers Prime,NaN,"Peter Cullen, Sumalee Montano, Frank Welker, J...",United States,"September 8, 2018",2013,TV-Y7-FV,1 Season,Kids' TV,"With the help of three human allies, the Autob..."
3,80058654,TV Show,Transformers: Robots in Disguise,NaN,"Will Friedle, Darren Criss, Constance Zimmer, ...",United States,"September 8, 2018",2016,TV-Y7,1 Season,Kids' TV,When a prison ship crash unleashes hundreds of...
4,80125979,Movie,#realityhigh,Fernando Lebrija,"Nesta Cooper, Kate Walsh, John Michael Higgins...",United States,"September 8, 2017",2017,TV-14,99 min,Comedies,When nerdy high schooler Dani finally attracts...

DATA CLEANING NEXT

In [3]:
netflix_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6234 entries, 0 to 6233
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       6234 non-null   int64
 1   type          6234 non-null   object
 2   title         6234 non-null   object
 3   director      4265 non-null   object
 4   cast          5664 non-null   object
 5   country       5758 non-null   object
 6   date_added    6223 non-null   object
 7   release_year  6234 non-null   int64
 8   rating        6224 non-null   object
 9   duration      6234 non-null   object
 10  listed_in     6234 non-null   object
 11  description   6234 non-null   object
dtypes: int64(2), object(10)
memory usage: 584.6+ KB

Remove duplicates dito ba?? ewan

## Research Question

## Data Modelling

### title for research q 1

#### Subheader

### Which words best describe a genre OR LGBT? maya na

The `description` variable in the dataset refers to Netflix's synopsis of each show. DESCRIBE MORE

#### Checking for `NAN`s

In [4]:
netflix_df.isnull().any()

show_id         False
type            False
title           False
director         True
cast             True
country          True
date_added       True
release_year    False
rating           True
duration        False
listed_in       False
description     False
dtype: bool

We see here that the `description` and `listed_in` variables do not have `Nan`/`null` values. Hence, no need to drop rows (for this question, at least) or do imputation.

#### Checking for duplicates

The `description` variable is a good feature to check for duplicates as the synopsis are expectedly unique for each show.

In [5]:
netflix_desc_duplicate = netflix_df['description'].value_counts().reset_index(name="description").query("description > 1")
print(netflix_desc_duplicate)
print("Repeated descriptions:", len(netflix_desc_duplicate))
print("Repeated shows:", netflix_desc_duplicate['description'].sum())

                                               index  description
0  A surly septuagenarian gets another chance at ...            3
1  As a series of murders hit close to home, a vi...            2
2  When Elastigirl gets recruited for a high-prof...            2
3  A young Han Solo tries to settle an old score ...            2
4  An aspiring musician battles age-old caste div...            2
5  An affable, newly appointed college warden pro...            2
6  A ruthless businessman’s mission to expose ele...            2
Repeated descriptions: 7
Repeated shows: 15

There are 7 repeated descriptions, and a total of 15 repeated shows based on our assumption that observations with the same description are the same show. To further confirm this, we can look at the other variables of the observations corresponding to these descriptions.

In [6]:
netflix_df.loc[netflix_df["description"].isin(netflix_desc_duplicate["index"])]

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
119,81186758,Movie,Oh! Baby (Malayalam),B. V. Nandini Reddy,"Samantha Ruth Prabhu, Lakshmi, Rajendraprasad,...",India,"September 25, 2019",2019,TV-14,146 min,"Comedies, International Movies, Music & Musicals",A surly septuagenarian gets another chance at ...
120,81186757,Movie,Oh! Baby (Tamil),B. V. Nandini Reddy,"Samantha Ruth Prabhu, Lakshmi, Rajendraprasad,...",India,"September 25, 2019",2019,TV-14,146 min,"Comedies, International Movies, Music & Musicals",A surly septuagenarian gets another chance at ...
252,81093951,Movie,Oh! Baby,B. V. Nandini Reddy,"Samantha Ruth Prabhu, Lakshmi, Rajendraprasad,...",India,"September 14, 2019",2019,TV-14,157 min,"Comedies, International Movies, Music & Musicals",A surly septuagenarian gets another chance at ...
2123,81075235,Movie,Sarkar,A.R. Murugadoss,"Vijay, Varalakshmi Sarathkumar, Keerthi Suresh...",India,"March 2, 2019",2018,TV-MA,162 min,"Action & Adventure, Dramas, International Movies",A ruthless businessman’s mission to expose ele...
2124,81072516,Movie,Sarkar,A.R. Murugadoss,"Vijay, Varalakshmi Sarathkumar, Keerthi Suresh...",India,"March 2, 2019",2018,TV-MA,162 min,"Action & Adventure, Dramas, International Movies",A ruthless businessman’s mission to expose ele...
2312,81083971,Movie,Sarvam Thaala Mayam (Tamil Version),Rajiv Menon,"G.V. Prakash Kumar, Nedumudi Venu, Aparna Bala...",India,"March 1, 2019",2018,TV-14,131 min,"Dramas, International Movies, Music & Musicals",An aspiring musician battles age-old caste div...
3184,80220814,Movie,Solo: A Star Wars Story,Ron Howard,"Alden Ehrenreich, Woody Harrelson, Emilia Clar...",United States,"January 9, 2019",2018,PG-13,135 min,"Action & Adventure, Children & Family Movies, ...",A young Han Solo tries to settle an old score ...
3185,81046962,Movie,Solo: A Star Wars Story (Spanish Version),Ron Howard,"Alden Ehrenreich, Woody Harrelson, Emilia Clar...",United States,"January 9, 2019",2018,PG-13,135 min,"Action & Adventure, Children & Family Movies, ...",A young Han Solo tries to settle an old score ...
3242,80221639,Movie,The Incredibles 2,Brad Bird,"Craig T. Nelson, Holly Hunter, Samuel L. Jacks...",United States,"January 30, 2019",2018,PG,118 min,"Children & Family Movies, Comedies",When Elastigirl gets recruited for a high-prof...
3752,81059388,Movie,Incredibles 2 (Spanish Version),Brad Bird,"Víctor Trujillo, Consuelo Duval, Darío T. Pie,...",United States,"February 8, 2019",2018,PG,118 min,"Children & Family Movies, Comedies",When Elastigirl gets recruited for a high-prof...
4879,81151880,Movie,Game Over (Hindi Version),Ashwin Saravanan,"Taapsee Pannu, Vinodhini, Parvathi T, Ramya Su...","India, Turkey","August 21, 2019",2019,TV-MA,98 min,"Horror Movies, International Movies, Thrillers","As a series of murders hit close to home, a vi..."
4880,81151877,Movie,Game Over (Tamil Version),Ashwin Saravanan,"Taapsee Pannu, Vinodhini, Parvathi T, Ramya Su...","India, Turkey","August 21, 2019",2019,TV-MA,98 min,"Horror Movies, International Movies, Thrillers","As a series of murders hit close to home, a vi..."
5182,81074135,Movie,Sarvam Thaala Mayam (Telugu Version),Rajiv Menon,"G.V. Prakash Kumar, Nedumudi Venu, Aparna Bala...",India,"April 8, 2019",2018,TV-14,131 min,"Dramas, International Movies, Music & Musicals",An aspiring musician battles age-old caste div...
5188,81091424,Movie,Petta (Telugu Version),Karthik Subbaraj,"Rajnikanth, Vijay Sethupathi, M. Sasikumar, Na...",India,"April 7, 2019",2019,TV-14,170 min,"Action & Adventure, Comedies, Dramas","An affable, newly appointed college warden pro..."
5212,81091423,Movie,Petta,Karthik Subbaraj,"Rajnikanth, Vijay Sethupathi, M. Sasikumar, Na...",India,"April 5, 2019",2019,TV-14,170 min,"Action & Adventure, Comedies, Dramas","An affable, newly appointed college warden pro..."

Closely examining the observations reveals that the only differences in the observations are the `date_added` and the `title` variables. The date when the show is added doesn't give much insight as it does not give relevant context to the similarity of the show (i.e. different versions of a show can be added at different times, and vice versa). However, the title &mdash; at least in the results above &mdash; are descriptive in the differences.

The titles show that there are multiple versions due to langauge. The show *The Incredibles 2*, for instance, has both the original, and the Spanish version. Meanwhile, the movie *Oh! Baby* has two other versions: the Malalayam and Tamil. The only observation which didn't show any difference was for the movie *Sarkar* whose titles (there are 2 observations for this movie) do not indicate versions. This may either be a data collection error, or the title simply does not show which version it is.

Nonetheless, all the duplicates will be cleaned in the same way. The "original" version (i.e. the one without a parenthesis stating the version, or if not applicable, the first entry that appears in the dataset for simplicity) will be retained. 

This step is important because duplicates will affect the weight of the words during feature extraction. Thus, there would be bias for a particular show which would produce results that are not representative of the show's listed genre.

Because there are only few duplicates, we can manually remove the offending observations via `show_id`.

In [13]:
show_id_remove_list = [81186758, 81186757, 81072516, 81046962, 81059388, 81151877, 81074135, 81091424]

netflix_df.loc[(netflix_df["description"].isin(netflix_desc_duplicate["index"])) & (~netflix_df["show_id"].isin(show_id_remove_list))]

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
252,81093951,Movie,Oh! Baby,B. V. Nandini Reddy,"Samantha Ruth Prabhu, Lakshmi, Rajendraprasad,...",India,"September 14, 2019",2019,TV-14,157 min,"Comedies, International Movies, Music & Musicals",A surly septuagenarian gets another chance at ...
2123,81075235,Movie,Sarkar,A.R. Murugadoss,"Vijay, Varalakshmi Sarathkumar, Keerthi Suresh...",India,"March 2, 2019",2018,TV-MA,162 min,"Action & Adventure, Dramas, International Movies",A ruthless businessman’s mission to expose ele...
2312,81083971,Movie,Sarvam Thaala Mayam (Tamil Version),Rajiv Menon,"G.V. Prakash Kumar, Nedumudi Venu, Aparna Bala...",India,"March 1, 2019",2018,TV-14,131 min,"Dramas, International Movies, Music & Musicals",An aspiring musician battles age-old caste div...
3184,80220814,Movie,Solo: A Star Wars Story,Ron Howard,"Alden Ehrenreich, Woody Harrelson, Emilia Clar...",United States,"January 9, 2019",2018,PG-13,135 min,"Action & Adventure, Children & Family Movies, ...",A young Han Solo tries to settle an old score ...
3242,80221639,Movie,The Incredibles 2,Brad Bird,"Craig T. Nelson, Holly Hunter, Samuel L. Jacks...",United States,"January 30, 2019",2018,PG,118 min,"Children & Family Movies, Comedies",When Elastigirl gets recruited for a high-prof...
4879,81151880,Movie,Game Over (Hindi Version),Ashwin Saravanan,"Taapsee Pannu, Vinodhini, Parvathi T, Ramya Su...","India, Turkey","August 21, 2019",2019,TV-MA,98 min,"Horror Movies, International Movies, Thrillers","As a series of murders hit close to home, a vi..."
5212,81091423,Movie,Petta,Karthik Subbaraj,"Rajnikanth, Vijay Sethupathi, M. Sasikumar, Na...",India,"April 5, 2019",2019,TV-14,170 min,"Action & Adventure, Comedies, Dramas","An affable, newly appointed college warden pro..."

The above shows the observations that will be retained from all the duplicates.

In [108]:
netflix_df_2 = netflix_df[~netflix_df["show_id"].isin(show_id_remove_list)]
netflix_df_2

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,81145628,Movie,Norm of the North: King Sized Adventure,"Richard Finn, Tim Maltby","Alan Marriott, Andrew Toth, Brian Dobson, Cole...","United States, India, South Korea, China","September 9, 2019",2019,TV-PG,90 min,"Children & Family Movies, Comedies",Before planning an awesome wedding for his gra...
1,80117401,Movie,Jandino: Whatever it Takes,NaN,Jandino Asporaat,United Kingdom,"September 9, 2016",2016,TV-MA,94 min,Stand-Up Comedy,Jandino Asporaat riffs on the challenges of ra...
2,70234439,TV Show,Transformers Prime,NaN,"Peter Cullen, Sumalee Montano, Frank Welker, J...",United States,"September 8, 2018",2013,TV-Y7-FV,1 Season,Kids' TV,"With the help of three human allies, the Autob..."
3,80058654,TV Show,Transformers: Robots in Disguise,NaN,"Will Friedle, Darren Criss, Constance Zimmer, ...",United States,"September 8, 2018",2016,TV-Y7,1 Season,Kids' TV,When a prison ship crash unleashes hundreds of...
4,80125979,Movie,#realityhigh,Fernando Lebrija,"Nesta Cooper, Kate Walsh, John Michael Higgins...",United States,"September 8, 2017",2017,TV-14,99 min,Comedies,When nerdy high schooler Dani finally attracts...
...,...,...,...,...,...,...,...,...,...,...,...,...
6229,80000063,TV Show,Red vs. Blue,NaN,"Burnie Burns, Jason Saldaña, Gustavo Sorola, G...",United States,NaN,2015,NR,13 Seasons,"TV Action & Adventure, TV Comedies, TV Sci-Fi ...","This parody of first-person shooter games, mil..."
6230,70286564,TV Show,Maron,NaN,"Marc Maron, Judd Hirsch, Josh Brener, Nora Zeh...",United States,NaN,2016,TV-MA,4 Seasons,TV Comedies,"Marc Maron stars as Marc Maron, who interviews..."
6231,80116008,Movie,Little Baby Bum: Nursery Rhyme Friends,NaN,NaN,NaN,NaN,2016,NaN,60 min,Movies,Nursery rhymes and original music for children...
6232,70281022,TV Show,A Young Doctor's Notebook and Other Stories,NaN,"Daniel Radcliffe, Jon Hamm, Adam Godley, Chris...",United Kingdom,NaN,2013,TV-MA,2 Seasons,"British TV Shows, TV Comedies, TV Dramas","Set during the Russian Revolution, this comic ..."
6233,70153404,TV Show,Friends,NaN,"Jennifer Aniston, Courteney Cox, Lisa Kudrow, ...",United States,NaN,2003,TV-14,10 Seasons,"Classic & Cult TV, TV Comedies",This hit sitcom follows the merry misadventure...

In [109]:
netflix_df_2.insert(12, "isLGBT", netflix_df_2["listed_in"].str.find("LGBT") != -1, True)
netflix_df_2

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,isLGBT
0,81145628,Movie,Norm of the North: King Sized Adventure,"Richard Finn, Tim Maltby","Alan Marriott, Andrew Toth, Brian Dobson, Cole...","United States, India, South Korea, China","September 9, 2019",2019,TV-PG,90 min,"Children & Family Movies, Comedies",Before planning an awesome wedding for his gra...,False
1,80117401,Movie,Jandino: Whatever it Takes,NaN,Jandino Asporaat,United Kingdom,"September 9, 2016",2016,TV-MA,94 min,Stand-Up Comedy,Jandino Asporaat riffs on the challenges of ra...,False
2,70234439,TV Show,Transformers Prime,NaN,"Peter Cullen, Sumalee Montano, Frank Welker, J...",United States,"September 8, 2018",2013,TV-Y7-FV,1 Season,Kids' TV,"With the help of three human allies, the Autob...",False
3,80058654,TV Show,Transformers: Robots in Disguise,NaN,"Will Friedle, Darren Criss, Constance Zimmer, ...",United States,"September 8, 2018",2016,TV-Y7,1 Season,Kids' TV,When a prison ship crash unleashes hundreds of...,False
4,80125979,Movie,#realityhigh,Fernando Lebrija,"Nesta Cooper, Kate Walsh, John Michael Higgins...",United States,"September 8, 2017",2017,TV-14,99 min,Comedies,When nerdy high schooler Dani finally attracts...,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6229,80000063,TV Show,Red vs. Blue,NaN,"Burnie Burns, Jason Saldaña, Gustavo Sorola, G...",United States,NaN,2015,NR,13 Seasons,"TV Action & Adventure, TV Comedies, TV Sci-Fi ...","This parody of first-person shooter games, mil...",False
6230,70286564,TV Show,Maron,NaN,"Marc Maron, Judd Hirsch, Josh Brener, Nora Zeh...",United States,NaN,2016,TV-MA,4 Seasons,TV Comedies,"Marc Maron stars as Marc Maron, who interviews...",False
6231,80116008,Movie,Little Baby Bum: Nursery Rhyme Friends,NaN,NaN,NaN,NaN,2016,NaN,60 min,Movies,Nursery rhymes and original music for children...,False
6232,70281022,TV Show,A Young Doctor's Notebook and Other Stories,NaN,"Daniel Radcliffe, Jon Hamm, Adam Godley, Chris...",United Kingdom,NaN,2013,TV-MA,2 Seasons,"British TV Shows, TV Comedies, TV Dramas","Set during the Russian Revolution, this comic ...",False
6233,70153404,TV Show,Friends,NaN,"Jennifer Aniston, Courteney Cox, Lisa Kudrow, ...",United States,NaN,2003,TV-14,10 Seasons,"Classic & Cult TV, TV Comedies",This hit sitcom follows the merry misadventure...,False

In [110]:
netflix_df_lgbt = netflix_df_2[netflix_df_2["isLGBT"] == True]
netflix_df_lgbt

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,isLGBT
159,81122669,Movie,Daddy Issues,Amara Cash,"Madison Lawlor, Montana Manning, Andrew Pifko,...",United States,"September 20, 2019",2019,TV-MA,82 min,"Dramas, Independent Movies, LGBTQ Movies",Maya finally hooks up with her online dream gi...,True
399,80173269,Movie,Who the F**k Is That Guy?,Drew Stone,Michael Alago,United States,"September 1, 2017",2017,TV-MA,78 min,"Documentaries, LGBTQ Movies, Music & Musicals",Take a ride through the life of record exec Mi...,True
441,80189623,Movie,The Death and Life of Marsha P. Johnson,David France,NaN,United States,"October 6, 2017",2017,TV-MA,106 min,"Documentaries, LGBTQ Movies",As she fights the tide of violence against tra...,True
746,80216844,Movie,Feminists: What Were They Thinking?,Johanna Demetrakas,NaN,United States,"October 12, 2018",2018,TV-MA,86 min,"Documentaries, LGBTQ Movies",Revisiting 1970s photos of women that captured...,True
1013,80201542,Movie,Let It Snow,Luke Snellin,"Isabela Moner, Shameik Moore, Kiernan Shipka, ...",United States,"November 8, 2019",2019,PG-13,93 min,"Comedies, Dramas, LGBTQ Movies",A snowstorm hits a small town on a cold Christ...,True
1019,81002596,Movie,Yes or No 2,Saratswadee Wongsomphet,"Supanart Jittaleela, Sushar Manaying, Nisa Boo...",Thailand,"November 8, 2018",2012,TV-PG,112 min,"International Movies, LGBTQ Movies, Romantic M...","No longer university girls, Kim and Pie face n...",True
1020,81002597,Movie,Yes or No 2.5,Kirati Nakintanon,"Supanart Jittaleela, Pimpakan Bangchawong, Cha...",Thailand,"November 8, 2018",2015,TV-PG,107 min,"International Movies, LGBTQ Movies, Romantic M...",Roommates Wine and Pie find their lives turned...,True
1217,81020531,Movie,Ana e Vitória,Matheus Souza,"Ana Caetano, Vitória Falcão, Clarissa Müller, ...",Brazil,"November 2, 2018",2018,TV-14,116 min,"Comedies, International Movies, LGBTQ Movies","After meeting by chance, two young musicians w...",True
1236,80079470,Movie,Naomi and Ely's No Kiss List,Kristin Hanggi,"Victoria Justice, Pierson Fode, Matthew Daddar...",United States,"November 18, 2015",2015,NR,91 min,"Comedies, Dramas, LGBTQ Movies","Naomi and her gay best friend, Ely, have been ...",True
1325,70117297,Movie,A Single Man,Tom Ford,"Colin Firth, Julianne Moore, Nicholas Hoult, G...",United States,"November 11, 2019",2009,R,100 min,"Dramas, Independent Movies, LGBTQ Movies",This stream-of-consciousness drama centers on ...,True
1364,81179693,Movie,Euphoria,Valeria Golino,"Riccardo Scamarcio, Valerio Mastandrea, Isabel...",Italy,"November 1, 2019",2018,R,110 min,"Dramas, International Movies, LGBTQ Movies",An entrepreneur prone to partying and his estr...,True
1488,80182949,Movie,The Untold Tales of Armistead Maupin,Jennifer M. Kroot,"Armistead Maupin, Neil Gaiman, Laura Linney, I...",United States,"November 1, 2018",2017,TV-MA,91 min,"Documentaries, LGBTQ Movies","This documentary traces the life of ""Tales of ...",True
1589,80087897,Movie,4th Man Out,Andrew Nackman,"Evan Todd, Parker Young, Chord Overstreet, Jon...",United States,"May 5, 2016",2015,NR,86 min,"Comedies, LGBTQ Movies",A young mechanic comes out to his extremely st...,True
1621,80208662,Movie,All In My Family,Hao Wu,NaN,United States,"May 3, 2019",2019,TV-14,40 min,"Documentaries, LGBTQ Movies",After starting a family of his very own in Ame...,True
1663,80211638,Movie,The Perfection,Richard Shepard,"Allison Williams, Logan Browning, Steven Weber...",United States,"May 24, 2019",2019,TV-MA,91 min,"Horror Movies, LGBTQ Movies, Thrillers","In this twisty horror-thriller, a once-promisi...",True
1684,80121348,Movie,Moonlight,Barry Jenkins,"Trevante Rhodes, André Holland, Janelle Monáe,...",United States,"May 21, 2019",2016,R,111 min,"Dramas, Independent Movies, LGBTQ Movies","In a crime-infested Miami neighborhood, a gay ...",True
1704,80142223,Movie,Laerte-se,"Lygia Barbosa da Silva, Eliane Brum",Laerte Coutinho,Brazil,"May 19, 2017",2017,TV-MA,101 min,"Documentaries, International Movies, LGBTQ Movies","After living as a man for nearly 60 years, Lae...",True
1848,80990829,Movie,Jewel's Catch One,C. Fitz,Jewel Thais-Williams,United States,"May 1, 2018",2016,NR,84 min,"Documentaries, LGBTQ Movies",The story of famed L.A. nightclub Catch One an...,True
2176,81004374,Movie,Girl,Lukas Dhont,"Victor Polster, Arieh Worthalter, Oliver Bodar...","Belgium, Netherlands","March 15, 2019",2018,R,106 min,"Dramas, International Movies, LGBTQ Movies",Fifteen-year-old ballet dancer Lara faces phys...,True
2440,80121387,Movie,Elisa & Marcela,Isabel Coixet,"Natalia de Molina, Greta Fernández, Sara Casas...",Spain,"June 7, 2019",2019,TV-MA,119 min,"Dramas, International Movies, LGBTQ Movies","In 1901 Spain, Elisa Sánchez Loriga adopts a m...",True
2537,80161640,Movie,I Am Michael,Justin Kelly,"James Franco, Zachary Quinto, Emma Roberts, Ch...",United States,"June 26, 2017",2015,TV-MA,102 min,"Dramas, LGBTQ Movies",Gay activist Michael Glatze begins a painful j...,True
2546,80160994,Movie,"To Each, Her Own",Myriam Aziza,"Sarah Stern, Jean-Christophe Folly, Julia Piat...",France,"June 24, 2018",2018,TV-MA,95 min,"Comedies, International Movies, LGBTQ Movies",Just as Simone works up the courage to tell he...,True
2702,81077795,Movie,Life in the Doghouse,Ron Davis,NaN,United States,"June 1, 2019",2018,TV-PG,83 min,"Documentaries, LGBTQ Movies",A couple operates a bustling dog rescue out of...,True
2743,80186862,Movie,Michael Lost and Found,Daniel Wilner,NaN,"Canada, United States","June 1, 2017",2017,TV-PG,19 min,"Documentaries, International Movies, LGBTQ Movies",Benjie Nycum travels to Wyoming to visit his e...,True
3068,855084,Movie,Philadelphia,Jonathan Demme,"Tom Hanks, Denzel Washington, Jason Robards, M...",United States,"July 1, 2019",1993,PG-13,126 min,"Classic Movies, Dramas, LGBTQ Movies",Philadelphia attorney Andrew Beckett launches ...,True
3103,80115118,Movie,Duck Butter,Miguel Arteta,"Alia Shawkat, Laia Costa, Mae Whitman, Hong Ch...",United States,"July 1, 2018",2018,TV-MA,94 min,"Dramas, Independent Movies, LGBTQ Movies","Wary of dishonesty in relationships, two young...",True
3107,70057519,Movie,Loving Annabelle,Katherine Brooks,"Erin Kelly, Diane Gaidry, Laura Breckenridge, ...",United States,"July 1, 2018",2006,TV-MA,77 min,"Dramas, Independent Movies, LGBTQ Movies",An esteemed young poetry teacher at a Catholic...,True
3121,80222256,Movie,The Feels,Jenée LaMarque,"Jenée LaMarque, Angela Trimbur, Constance Wu, ...",United States,"July 1, 2018",2018,TV-MA,88 min,"Comedies, Independent Movies, LGBTQ Movies","During their bachelorette weekend, a lesbian c...",True
3204,80128657,Movie,Growing Up Coy,Eric Juhola,NaN,United States,"January 6, 2017",2016,TV-PG,82 min,"Documentaries, LGBTQ Movies",Filmmakers follow a Colorado family's highly p...,True
3372,70275751,Movie,Dallas Buyers Club,Jean-Marc Vallée,"Matthew McConaughey, Jennifer Garner, Jared Le...",United States,"January 16, 2018",2013,R,117 min,"Dramas, Independent Movies, LGBTQ Movies",Refusing to accept a death sentence from his d...,True
3420,80106440,Movie,Teenage Cocktail,John Carchietta,"Nichole Bloom, Fabianne Therese, Michelle Bort...",United States,"January 15, 2017",2016,TV-MA,89 min,"Dramas, Independent Movies, LGBTQ Movies",Two teen girls form an intense bond and launch...,True
3602,70209245,Movie,A Perfect Ending,Nicole Conn,"Barbara Niven, Jessica Clark, John Heard, Morg...",United States,"January 1, 2019",2012,TV-MA,110 min,"Dramas, Independent Movies, LGBTQ Movies","After confessing an unusual secret, a represse...",True
3619,80214621,Movie,Kevyn Aucoin: Beauty & the Beast in Me,Lori Kaye,"Kevyn Aucoin, Cindy Crawford, Naomi Campbell, ...",United States,"January 1, 2019",2017,TV-MA,90 min,"Documentaries, LGBTQ Movies",Makeup artist Kevyn Aucoin worked with top sup...,True
3634,80195885,Movie,The Pass,Ben A. Williams,"Russell Tovey, Arinzé Kene, Lisa McGrillis, Ni...",United Kingdom,"January 1, 2019",2016,NR,87 min,"Dramas, Independent Movies, LGBTQ Movies",The lives and careers of two professional socc...,True
3702,80117742,Movie,Hurricane Bianca,Matt Kugelman,"Roy Haylock, Bianca Leigh, Denton Blane Everet...",United States,"January 1, 2017",2016,TV-MA,85 min,"Comedies, Independent Movies, LGBTQ Movies","Fired for being gay, schoolteacher Richard ret...",True
3763,81034763,Movie,Lez Bomb,Jenna Laurenzo,"Jenna Laurenzo, Deirdre O'Connell, Brandon Mic...",United States,"February 7, 2019",2018,TV-14,90 min,"Comedies, LGBTQ Movies",A young woman's attempt to come out of the clo...,True
3780,80201497,Movie,Princess Cyd,Stephen Cone,"Tyler Ross, Rebecca Spence, James Vincent Mere...",United States,"February 5, 2018",2017,TV-MA,97 min,"Dramas, Independent Movies, LGBTQ Movies",A teenager moves to Chicago for the summer and...,True
3802,80103313,Movie,People You May Know,J.C. Falcón,"Sean Maher, Andrea Grano, Mark Cirillo, Nacho ...","United States, Spain","February 28, 2017",2016,TV-MA,108 min,"Dramas, LGBTQ Movies",The lives of several friends are thrown into c...,True
3882,81031652,Movie,Transformer,Michael Del Monte,Janae Marie Kroczaleski,Canada,"February 20, 2019",2017,TV-MA,79 min,"Documentaries, LGBTQ Movies",Powerlifter Matt Kroczaleski faced his greates...,True
3897,81024494,Movie,Postcards from London,Steve McLean,"Harris Dickinson, Jonah Hauer-King, Alessandro...",United Kingdom,"February 19, 2019",2018,TV-MA,90 min,"Dramas, Independent Movies, LGBTQ Movies",After being recruited to be a raconteur in Lon...,True
3929,70100084,Movie,Milk,Gus Van Sant,"Sean Penn, Emile Hirsch, Josh Brolin, Diego Lu...",United States,"February 16, 2017",2008,R,128 min,"Dramas, Independent Movies, LGBTQ Movies",Sean Penn stars in this biopic about Harvey Mi...,True
3934,80208091,Movie,Anchor and Hope,Carlos Marques-Marcet,"Oona Chaplin, Natalia Tena, David Verdaguer, G...",Spain,"February 15, 2019",2017,TV-MA,113 min,"Comedies, Dramas, LGBTQ Movies",Kat and Eva’s happy romance hits a rough patch...,True
4051,80186731,Movie,Gender Revolution: A Journey with Katie Couric,NaN,Katie Couric,United States,"February 1, 2018",2017,TV-PG,90 min,"Documentaries, LGBTQ Movies",Katie Couric explores our evolving understandi...,True
4145,81002594,Movie,Yes or No,Saratswadee Wongsomphet,"Sushar Manaying, Supanart Jittaleela, Arisara ...",Thailand,"December 6, 2018",2010,TV-PG,111 min,"International Movies, LGBTQ Movies, Romantic M...",Traditional girl Pie is initially uncomfortabl...,True
4465,80058477,Movie,The Danish Girl,Tom Hooper,"Eddie Redmayne, Alicia Vikander, Ben Whishaw, ...","United Kingdom, United States, Germany, Denmar...","December 16, 2019",2015,R,120 min,"Dramas, International Movies, LGBTQ Movies","In 1920s Denmark, married artists embark on a ...",True
4532,80220783,Movie,Breaking Free,Sridhar Rangayan,Sridhar Rangayan,India,"December 15, 2017",2015,TV-MA,81 min,"Documentaries, International Movies, LGBTQ Movies",One filmmaker’s quest to expose the human righ...,True
4611,81009829,Movie,Susanne Bartsch: On Top,"Anthony Caronna, Alexander Smith",Susanne Bartsch,United States,"December 10, 2018",2017,TV-MA,86 min,"Documentaries, LGBTQ Movies","Beyond her larger-than-life persona, this docu...",True
4680,80178882,Movie,Dream Boat,Tristan Ferland Milewski,NaN,Germany,"December 1, 2017",2017,TV-MA,92 min,"Documentaries, International Movies, LGBTQ Movies","On a cruise for gay men, five passengers of di...",True
4683,80191930,Movie,Forbidden Games: The Justin Fashanu Story,"Jon Carey, Adam Darke","Justin Fashanu, John Fashanu",United Kingdom,"December 1, 2017",2017,TV-14,81 min,"Documentaries, International Movies, LGBTQ Movies","This documentary chronicles the tragic, true s...",True
4725,81091977,Movie,Rocko's Modern Life: Static Cling,"Joe Murray, Cosmo Segurson","Carlos Alazraqui, Tom Kenny, Charlie Adler, Ji...",United States,"August 9, 2019",2019,TV-Y7,46 min,"Children & Family Movies, Comedies, LGBTQ Movies","After 20 years in space, Rocko struggles to ad...",True
4830,80059505,Movie,3 Generations,Gaby Dellal,"Elle Fanning, Naomi Watts, Susan Sarandon, Tat...",United States,"August 28, 2017",2015,PG-13,92 min,"Dramas, LGBTQ Movies",When teenage Ray begins transitioning from fem...,True
4843,60000677,Movie,Head On,Ana Kokkinos,"Alex Dimitriades, Paul Capsis, Julian Garner, ...",Australia,"August 25, 2018",1998,TV-MA,104 min,"Dramas, Independent Movies, LGBTQ Movies","This edgy drama follows 19-year-old Ari, a gay...",True
4909,70267490,Movie,Concussion,Stacie Passon,"Robin Weigert, Maggie Siff, Johnathan Tchaikov...",United States,"August 2, 2018",2013,R,96 min,"Dramas, Independent Movies, LGBTQ Movies","A lesbian housewife, feeling trapped in a stal...",True
4997,81002212,Movie,Bioscope,"Gajendra Ahire, Viju Mane, Girish Mohite, Ravi...","Nina Kulkarni, Suhas Palshikar, Kushal Badrike...",India,"August 15, 2018",2015,TV-14,131 min,"Dramas, International Movies, LGBTQ Movies",Inspired by classic and contemporary literatur...,True
5000,80202176,Movie,Hurricane Bianca: From Russia With Hate,Matt Kugelman,"Roy Haylock, Rachel Dratch, Brian McCook, D.J....",United States,"August 15, 2018",2018,TV-MA,85 min,"Comedies, Independent Movies, LGBTQ Movies",When Texas teacher Richard is lured to Russia ...,True
5082,60026477,Movie,"To Wong Foo, Thanks for Everything! Julie Newmar",Beeban Kidron,"Patrick Swayze, Wesley Snipes, John Leguizamo,...",United States,"August 1, 2019",1995,PG-13,108 min,"Comedies, Cult Movies, LGBTQ Movies",Three New York drag queens on their way to Hol...,True
5165,80104552,Movie,Holding the Man,Neil Armfield,"Ryan Corr, Craig Stott, Kerry Fox, Camilla Ah ...",Australia,"August 1, 2016",2015,NR,128 min,"Dramas, International Movies, LGBTQ Movies","In 1970s Australia, two teen boys fall in love...",True
5192,80118918,Movie,Strike a Pose,"Ester Gould, Reijer Zwaan",NaN,"Netherlands, Belgium","April 7, 2017",2016,TV-MA,85 min,"Documentaries, International Movies, LGBTQ Movies","A quarter-century later, this documentary relo...",True
5219,80185032,Movie,Behind the Curtain: Todrick Hall,Katherine Fairfax Wright,Todrick Hall,United States,"April 5, 2018",2017,TV-MA,100 min,"Documentaries, LGBTQ Movies, Music & Musicals",Follow singer and YouTube sensation Todrick Ha...,True
5457,80149145,Movie,Macho,Antonio Serrano,"Miguel Rodarte, Cecilia Suárez, Aislinn Derbez...",Mexico,"April 12, 2017",2016,TV-MA,101 min,"Comedies, International Movies, LGBTQ Movies",A famous designer who's always pretended to be...,True

## Insights and Conclusions