In [139]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from rule_miner import RuleMiner

print("Hello World")

Hello World

In [140]:
temp_df = pd.read_csv("netflix_titles.csv")

listed_in_series = temp_df['listed_in']
genre_matrix = []

for string in listed_in_series:
    split_str = string.split(', ')
    genre_matrix.append(split_str)

genre_df = pd.DataFrame(genre_matrix)
genre_df

                             0            1                    2
0     Children & Family Movies     Comedies                 None
1              Stand-Up Comedy         None                 None
2                     Kids' TV         None                 None
3                     Kids' TV         None                 None
4                     Comedies         None                 None
...                        ...          ...                  ...
6229     TV Action & Adventure  TV Comedies  TV Sci-Fi & Fantasy
6230               TV Comedies         None                 None
6231                    Movies         None                 None
6232          British TV Shows  TV Comedies            TV Dramas
6233         Classic & Cult TV  TV Comedies                 None

[6234 rows x 3 columns]

In [141]:
# temp_df = pd.read_csv("groceries.csv", header=None)
# temp_df

values = genre_df.values.ravel()
values = [value for value in pd.unique(values) if not pd.isnull(value)]

value_dict = {}
for i, value in enumerate(values):
    value_dict[value] = i
    
print(value_dict)

{'Children & Family Movies': 0, 'Comedies': 1, 'Stand-Up Comedy': 2, "Kids' TV": 3, 'Crime TV Shows': 4, 'International TV Shows': 5, 'Spanish-Language TV Shows': 6, 'International Movies': 7, 'Sci-Fi & Fantasy': 8, 'Thrillers': 9, 'Docuseries': 10, 'Science & Nature TV': 11, 'Action & Adventure': 12, 'Dramas': 13, 'Cult Movies': 14, 'Independent Movies': 15, 'Romantic Movies': 16, 'Documentaries': 17, 'Horror Movies': 18, 'Romantic TV Shows': 19, 'TV Comedies': 20, 'TV Dramas': 21, 'TV Thrillers': 22, 'TV Mysteries': 23, 'British TV Shows': 24, 'Music & Musicals': 25, 'Reality TV': 26, 'TV Action & Adventure': 27, 'Anime Features': 28, 'Teen TV Shows': 29, 'Faith & Spirituality': 30, 'Korean TV Shows': 31, 'Anime Series': 32, 'LGBTQ Movies': 33, 'TV Horror': 34, 'Movies': 35, 'Stand-Up Comedy & Talk Shows': 36, 'TV Sci-Fi & Fantasy': 37, 'Classic Movies': 38, 'Sports Movies': 39, 'TV Shows': 40, 'Classic & Cult TV': 41}